@charset "UTF-8";
/*
	Author: Shane Schroll
	Theme Name: PPP Theme
	Description: PPP blocks stylesheet. Block Editor Preview and Front End styles for blocks.
	Version: 1.0.0
	Text Domain: ppp
*/
.editor-button-block, .editor-button-block__purple {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-family: "Muli", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #FFF;
}
.editor-button-block:hover, .editor-button-block__purple:hover {
  -webkit-box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.editor-button-block__purple {
  background-color: #4A2B74;
}

.standard-dropdown-container {
  max-width: 40rem;
  padding: 0 1rem;
}
.standard-dropdown-container .dropdown-block-title {
  display: block;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
  color: #4A2B74;
}
.standard-dropdown-container .dropdown-block-title:hover {
  cursor: pointer;
}
.standard-dropdown-container .dropdown-block-title:after {
  content: "";
  position: absolute;
  top: 1.2rem;
  margin-left: 2rem;
  font-size: 16px;
  font-weight: normal;
  font-family: FontAwesome;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
@media (min-width: 768px) {
  .standard-dropdown-container .dropdown-block-title:after {
    font-size: 18px;
  }
}
@media (min-width: 1023px) {
  .standard-dropdown-container .dropdown-block-title:after {
    top: 1.25rem;
    font-size: 22px;
  }
}
.standard-dropdown-container .chevron-rotate:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.important-info-wrapper {
  max-width: 43.75rem;
  margin: 1.25rem auto 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 3px solid #4A2B74;
}
.important-info-wrapper .h6-heading {
  color: #4A2B74;
  margin: 0 0 0 1.5rem;
}