/*
	Author: Shane Schroll
	Theme Name: PPP Theme
	Description: Custom theme for Purple Power Play.
	Version: 1.4.2
	Text Domain: ppp
*/
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  line-height: 1.2;
  overflow-x: hidden;
}

::-webkit-input-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

::-moz-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

::placeholder {
  color: #8A8A8A;
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a, p, span, address, blockquote {
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.2;
  font-family: "Proza Libre", sans-serif;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #2F2F2F;
}
@media (min-width: 768px) {
  p {
    margin-bottom: 1.5rem;
  }
}

small {
  font-family: "Proza Libre", sans-serif;
  font-size: 0.625rem;
  color: #2F2F2F;
}

time {
  font-family: "Proza Libre", sans-serif;
  color: #2F2F2F;
}

ul, ol {
  font-size: 0.875rem;
  color: #2F2F2F;
  font-family: "Proza Libre", sans-serif;
  margin-bottom: 1.75rem;
}

.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Proza Libre", sans-serif;
  font-weight: bold;
  color: #111F2A;
}

h1, .h1-heading {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h1, .h1-heading {
    font-size: 2.5rem;
  }
}
@media (min-width: 1023px) {
  h1, .h1-heading {
    font-size: 3rem;
  }
}

h2, .h2-heading {
  font-size: 1.85rem;
}
@media (min-width: 480px) {
  h2, .h2-heading {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  h2, .h2-heading {
    font-size: 2.5rem;
  }
}

h3, .h3-heading {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  h3, .h3-heading {
    font-size: 1.75rem;
  }
}
@media (min-width: 1023px) {
  h3, .h3-heading {
    font-size: 2rem;
  }
}

h4, .h4-heading {
  font-size: 1.175rem;
}
@media (min-width: 768px) {
  h4, .h4-heading {
    font-size: 1.375rem;
  }
}
@media (min-width: 1023px) {
  h4, .h4-heading {
    font-size: 1.5625rem;
  }
}

h5, .h5-heading {
  font-size: 0.9375rem;
}
@media (min-width: 768px) {
  h5, .h5-heading {
    font-size: 1.125rem;
  }
}

h6, .h6-heading {
  font-size: 0.875rem;
}
@media (min-width: 480px) {
  h6, .h6-heading {
    font-size: 1rem;
  }
}

.primary-button, .primary-button--w, .primary-button--p, .primary-button--t, .primary-button--b {
  display: inline-block;
  padding: 0.75rem 2.5rem;
  font-family: "Muli", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}
.primary-button--w {
  background-color: #FFF;
  color: #2F2F2F;
  border: 1px solid transparent;
}
.primary-button--w:hover {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
}
.primary-button--p {
  padding: 0.75rem 1.25rem;
  background-color: #4A2B74;
  color: #FFF;
}
.primary-button--p:hover {
  -webkit-box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
}
.primary-button--t {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
}
.primary-button--t:hover {
  background-color: #FFF;
  color: #2F2F2F;
}
.primary-button--b {
  background-color: #FFF;
  color: #4A2B74;
  border: 1px solid #4A2B74;
}
.primary-button--b:hover {
  background-color: #4A2B74;
  color: #FFF;
}

.global-site-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.default-container {
  max-width: 75rem;
  margin: 1rem auto;
}

.default-container-short {
  max-width: 61.25rem;
  margin: 2rem auto;
}
.default-container-short a:not(.plain-link) {
  color: #2F2F2F;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}
.default-container-short a:not(.plain-link):hover {
  text-decoration: underline;
}

.plain-link {
  color: #2F2F2F;
  font-size: 0.875rem;
  text-decoration: none;
}
.plain-link:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
a:hover {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-decoration: none;
}

.add-white-bg {
  background-color: #FFF;
}

.page-id-57 .default-container-short {
  max-width: 42rem;
}

.home-header {
  max-width: 100%;
  margin: 4.5rem auto 0;
}
@media (min-width: 768px) {
  .home-header {
    margin: 0 auto;
  }
}
.home-header .home-header-wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .home-header .home-header-wrapper {
    background-color: #000;
  }
}
.home-header .home-header-wrapper .purple-blend {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #4A2B74;
  mix-blend-mode: multiply;
  z-index: 50;
}
@media (min-width: 850px) {
  .home-header .home-header-wrapper .purple-blend {
    display: none;
  }
}
.home-header .home-header-wrapper h1 {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFF;
  text-transform: uppercase;
  padding-left: 1rem;
  font-size: 2rem;
  z-index: 55;
}
@media (min-width: 480px) {
  .home-header .home-header-wrapper h1 {
    font-size: 3.25rem;
  }
}
@media (min-width: 768px) {
  .home-header .home-header-wrapper h1 {
    font-size: 4rem;
  }
}
@media (min-width: 850px) {
  .home-header .home-header-wrapper h1 {
    padding-top: unset;
    padding-bottom: unset;
    max-width: 75rem;
    width: 100%;
  }
}
@media (min-width: 1023px) {
  .home-header .home-header-wrapper h1 {
    font-size: 4.25rem;
  }
}
@media (min-width: 1250px) {
  .home-header .home-header-wrapper h1 {
    padding-left: unset;
    font-size: 5rem;
  }
}
.home-header .home-header-wrapper .background-image {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.header-wrapper {
  max-width: 100%;
  padding: 1rem;
  margin: 4rem auto 0;
  text-align: center;
}
@media (min-width: 768px) {
  .header-wrapper {
    margin: 10.125rem auto 0;
  }
}
.header-wrapper .interior-header {
  margin-top: 2rem;
}

.nav-wrapper {
  position: absolute;
  top: 1.5rem;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  z-index: 100;
}
.nav-wrapper .nav-container nav ul {
  padding: 0;
  list-style: none;
}

#menu-toggle {
  display: none;
}

.mobile-nav-top {
  display: none;
}

@media (min-width: 53.125em) {
  .logo-side {
    background-color: #FFF;
    padding: 1rem;
  }

  .nav-side {
    display: inline-block;
    width: 100%;
    height: 11rem;
    background-color: #FFF;
    padding: 3.8rem 1rem 0;
  }

  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 77rem;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .logo {
    margin-right: 2rem;
  }
  .logo img {
    max-width: 16.5rem;
    padding: 1rem;
  }

  .nav-menu {
    width: 40rem;
    margin-left: auto;
  }
  .nav-menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .nav-menu .menu li {
    position: relative;
    padding: 0.75rem;
    z-index: 5;
    background-color: transparent;
    border-bottom: 2px solid transparent;
  }
  .nav-menu .menu li.current-menu-item {
    border-bottom: 2px solid #4A2B74;
  }
  .nav-menu .menu li:hover {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    border-bottom: 2px solid #4A2B74;
  }
  .nav-menu .menu li {
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
  }
  .nav-menu .menu li a {
    color: #4A2B74;
    font-family: "Proza Libre", sans-serif;
    font-weight: normal;
    font-size: 1.125rem;
  }
  .nav-menu .menu li a:hover {
    cursor: pointer;
  }

  .home-menu #primary-menu li.current-menu-item {
    border-color: #FFF;
  }
  .home-menu #primary-menu li:hover {
    border-color: #FFF;
  }
  .home-menu #primary-menu li a {
    color: #FFF;
  }
}
@media (max-width: 53.0625em) {
  .logo {
    display: none;
  }

  .mobile-nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 1rem 1rem 0;
    background-color: #FFF;
  }
  .mobile-nav-top .mobile-logo {
    max-width: 8.5rem;
  }

  #menu-toggle {
    display: block;
  }
  #menu-toggle:hover {
    cursor: pointer;
  }
  #menu-toggle .x-bar {
    display: block;
    width: 1.6rem;
    height: 3px;
    margin-bottom: 6px;
    background-color: #4A2B74;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    border-radius: 1px;
  }
  #menu-toggle .x-bar-active {
    position: relative;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    margin-bottom: 0;
    height: 4px;
  }
  #menu-toggle .x-bar-active:nth-child(3n+1) {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu-toggle .x-bar-active:nth-child(3n+2) {
    opacity: 0;
  }
  #menu-toggle .x-bar-active:nth-child(3n+3) {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: 0;
  }

  #primary-menu {
    display: none;
    position: relative;
    width: 100%;
    top: 0;
    margin: 0;
    padding-top: 1.5rem;
    text-align: center;
    overflow: hidden;
    background-color: #FFF;
  }
  #primary-menu li {
    margin-bottom: 1.5rem;
  }
  #primary-menu a {
    font-family: "Proza Libre", sans-serif;
    font-weight: bold;
    color: #4A2B74;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  .sub-menu {
    display: none;
  }
}
.site-footer {
  max-width: 75rem;
  padding: 1rem;
  margin: 0 auto;
}
.site-footer__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(47, 47, 47, 0.5);
  padding-bottom: 0.5rem;
}
@media (min-width: 480px) {
  .site-footer__upper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.site-footer__upper div span, .site-footer__upper .plain-link {
  color: #2F2F2F;
  font-size: 0.75rem;
}
.site-footer__upper--social {
  margin-right: 0;
}
.site-footer__upper--social a span {
  font-size: 1rem;
  font-family: FontAwesome;
  padding: 0.3rem;
}
.site-footer__upper--social .fb {
  color: #3B5998;
}
.site-footer__lower {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 480px) {
  .site-footer__lower {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.site-footer__lower span {
  font-size: 0.675rem;
  color: #2F2F2F;
}

.home-main-content {
  max-width: 75rem;
  margin: 3.5rem auto 5rem;
}

.featured-event {
  position: relative;
  max-width: 65rem;
  margin: 3rem auto 1.5rem;
}
.featured-event__event-listing {
  width: 100%;
  margin: 0 auto;
  max-height: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (min-width: 480px) {
  .featured-event__event-listing {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}
@media (min-width: 768px) {
  .featured-event__event-listing {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }
}
.featured-event__event-listing p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 2.25rem;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 0.875rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-bottom: unset;
}
@media (min-width: 768px) {
  .featured-event__event-listing p {
    font-size: 1rem;
    padding: 1rem 0 1rem 1rem;
  }
}

.cta-grid {
  display: -ms-grid;
  display: grid;
  max-width: 65rem;
  margin: 0 auto;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
}
.cta-grid__item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 1rem;
}
.cta-grid__item .bottom-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.cta-grid__item .bottom-title h4 {
  margin: 0;
  padding: 1rem 0 1rem 1rem;
  color: #FFF;
}
.cta-grid__item:hover {
  cursor: pointer;
  opacity: 0.9;
}

.above-footer {
  max-width: 25rem;
  margin: 3.5rem auto;
  text-align: center;
}

.contact-map {
  max-width: 50rem;
  margin: 0 auto;
}
.contact-map p {
  margin-top: 2rem;
}
.contact-map p a {
  font-weight: bold;
}
.contact-map .plain-link {
  padding: 0.25rem 0.4rem;
  border: 1px solid #2F2F2F;
  background-color: #FFF;
}
.contact-map .plain-link:hover {
  text-decoration: none;
  background-color: #4A2B74;
  color: #FFF;
}
.contact-map--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-information {
  max-width: 50rem;
  margin: 3.5rem auto;
}
.contact-information .plain-link {
  font-weight: bold;
}
.contact-information .post-content {
  max-width: 100%;
  margin: 2rem auto;
}

#gform_wrapper_1 {
  max-width: 42rem;
  margin: 0 auto;
}
#gform_wrapper_1 #gform_1 .gfield_label {
  margin-top: 1rem;
}
#gform_wrapper_1 #gform_1 #input_1_3_4_label {
  margin-bottom: 0.35rem;
}
#gform_wrapper_1 #gform_1 .ginput_container input {
  background: unset;
  border: unset;
  border-bottom: 1px solid #000;
}
#gform_wrapper_1 #gform_1 .gform_next_button, #gform_wrapper_1 #gform_1 .gform_previous_button, #gform_wrapper_1 #gform_1 .gform_button {
  background: unset;
  border: unset;
  -webkit-appearance: unset;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: "Muli", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  background-color: #4A2B74;
  color: #FFF;
  max-width: 6.5rem;
}
#gform_wrapper_1 #gform_1 .gform_next_button:hover, #gform_wrapper_1 #gform_1 .gform_previous_button:hover, #gform_wrapper_1 #gform_1 .gform_button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
}
#gform_wrapper_1 .hide-this {
  visibility: hidden;
}
#gform_wrapper_1 p {
  line-height: 1.4;
}
#gform_wrapper_1 ul, #gform_wrapper_1 li {
  list-style-type: none !important;
}
/*# sourceMappingURL=style.css.map */