{% block html_head_container %}
	{% include 'html-header.twig' %}
	</head>
{% endblock %}

<body data-template="base.twig" class="{{ body_class }}">

	{% include 'navigation.twig' %}

	{% if is_front_page %}
		{% include 'home-header.twig' %}
	{% else %}
		{% include 'header.twig' %}
	{% endif %}

	<section class="global-site-wrapper">
		{% block content %}
		{% endblock %}

		{% block above_footer %}
		{% endblock %}
	</section>

	{% include 'footer.twig' %}

	{{ function('wp_footer') }}
	{% include 'external-scripts.twig' %}
</body>
</html>