{% extends 'base.twig' %}

{% set directions = 'https://www.google.com/maps/dir//City+Park+Activity+Center,+1101+Fremont+St,+Manhattan,+KS+66502/@39.183042,-96.5761327,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x87bdd30c0423f67b:0xd9268741d89b3b3a!2m2!1d-96.573944!2d39.183042' %}

{% set view = 'https://www.google.com/maps/place/City+Park+Activity+Center/@39.183042,-96.5752707,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x87bdd27e66698091:0xd2ec133a54d8c9ad!2s1101+Poyntz+Ave,+Manhattan,+KS+66502!3b1!8m2!3d39.1789099!4d-96.5742515!3m4!1s0x87bdd30c0423f67b:0xd9268741d89b3b3a!8m2!3d39.183042!4d-96.573944' %}

{% block content %}
<div class="contact-map">
	<img src="{{ TimberImage( post.thumbnail ).src }}" alt="{{ TimberImage( post.thumbnail ).alt }}" />
	<div class="contact-map--info">
		<p><a class="plain-link" href="{{ directions }}" target="_blank">Get Directions</a></p>
		<p><a class="plain-link" href="{{ view }}" target="_blank">View in Map</a></p>
	</div>
</div>

<div class="contact-information">
	<div class="post-content">{{ post.content }}</div>
	<p>
		{# Give us a call at <a class="plain-link" href="tel:{{ options.phone }}">{{ options.phone }}</a><br/> #}
		To get in touch with an organizer or coordinator Email us at: <a class="plain-link" href="mailto:{{ options.email }}">{{ options.email }}</a>
	</p>
</div>
{% endblock %}