{% set gmap_url = 'https://www.google.com/maps/place/City+Park+Activity+Center/@39.183042,-96.5752707,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x87bdd27e66698091:0xd2ec133a54d8c9ad!2s1101+Poyntz+Ave,+Manhattan,+KS+66502!3b1!8m2!3d39.1789099!4d-96.5742515!3m4!1s0x87bdd30c0423f67b:0xd9268741d89b3b3a!8m2!3d39.183042!4d-96.573944' %}

<footer class="site-footer">
	<div class="site-footer__upper">
		<div>
			<a class="plain-link" href="{{ gmap_url }}" target="_blank" rel="nofollow noreferrer">{{ options.address }}</a>
		</div>

		<div class="site-footer__upper--social">
			<a href="{{ options.facebook_link }}" target="_blank" rel="noopener"><span class="fa fa-facebook fb"></span></a>
		</div>
	</div>

	<div class="site-footer__lower">
		<span>Copyright &copy; Purple Power Play, Inc - {{ date_year }}</span>
		<span>Developed by Shane Schroll</span>
	</div>
</footer>