{% extends 'base.twig' %}

{% block content %}
<div class="featured-event">
	<h2>Featured Event</h2>
	<div class="featured-event__event-listing" style="background-image: url('{{ TimberImage( post.featured_event_image ).src }}');">
		<p>{{ post.featured_event_details }}</p>
	</div>
</div>

<div class="home-main-content">
	<div class="cta-grid">
		{% for card in post.get_field('call_to_action_cards') %}
			<a class="cta-grid__item" href="{{ card.card_link }}" style="background-image: url('{{ TimberImage( card.card_background_image ).src }}');">
				<div class="bottom-title"><h4>{{ card.card_title }}</h4></div>
			</a>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block above_footer %}
<div class="above-footer">
	<h2>{{ post.above_footer_header_text }}</h2>
	<p>{{ post.above_footer_paragraph_text }}</p>
	<a class="primary-button--p" href="{{ post.button_link }}">{{ post.button_text }}</a>
</div>
{% endblock %}