<header class="home-header">
	<div class="home-header-wrapper">
		<h1>Power<br/>Up.</h1>
		<div class="purple-blend"></div>
		<img class="background-image" src="{{ TimberImage( post.header_image ).src }}" alt="{{ TimberImage( post.header_image ).alt }}" />
	</div>
</header>