<!doctype html>
<html class="" lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="{{ options.site_description }}" />
	<title>Purple Power Play in the Park</title>
	{{ function('wp_head') }}

	{# Monsterrat body font #}
	<link href="https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,600;0,700&family=Muli:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">