{% block navigation %}
<div class="nav-wrapper">
	<div class="nav-container">

		{% if is_front_page %}
			<a class="logo" href="/">
				<img src="{{ theme.link }}/static/images/ppp-logo.png" alt="Purple Power Play Logo" />
				<h6 style="color: white; text-align: center; font-size: 0.75rem;">{{ options.event_date }}</h6>
			</a>

			<div class="mobile-nav-top">
				<a class="mobile-logo" href="/">
					<img src="{{ theme.link }}/static/images/ppp-logo.png" alt="Purple Power Play Logo" />
				</a>

				<div id="menu-toggle">
					<span class="x-bar"></span>
					<span class="x-bar"></span>
					<span class="x-bar"></span>
				</div>
			</div>

			<nav class="nav-menu home-menu" role="navigation">
				{{ function('ppp_render_primary_menu') }}
			</nav>
		{% else %}
			<div class="logo-side">
				<a class="logo" href="/">
					<img src="{{ theme.link }}/static/images/ppp-logo.png" alt="Purple Power Play Logo" />
				</a>
			</div>

			<div class="mobile-nav-top">
				<a class="mobile-logo" href="/">
					<img src="{{ theme.link }}/static/images/ppp-logo.png" alt="Purple Power Play Logo" />
				</a>

				<div id="menu-toggle">
					<span class="x-bar"></span>
					<span class="x-bar"></span>
					<span class="x-bar"></span>
				</div>
			</div>

			<div class="nav-side">
				<nav class="nav-menu" role="navigation">
					{{ function('ppp_render_primary_menu') }}
				</nav>
			</div>
		{% endif %}

	</div>
</div>
{% endblock %}