.primary-button {
	display: inline-block;
	padding: 0.75rem 2.5rem;
	font-family: $font-head;
	font-size: 1.125rem;
	font-weight: bold;
	text-align: center;

	&--w, &--p, &--t, &--b { @extend .primary-button; }

	// white
	&--w {
		background-color: $white;
		color: $light-black;
		border: 1px solid transparent;

		&:hover {
			background-color: transparent;
			color: $white;
			border: 1px solid $white;
		}
	}

	//purple
	&--p {
		padding: 0.75rem 1.25rem;
		background-color: $purple;
		color: $white;
		&:hover { box-shadow: $button-shadow; }
	}

	// transparent (ghost-style)
	&--t {
		background-color: transparent;
		color: $white;
		border: 1px solid $white;

		&:hover {
			background-color: $white;
			color: $light-black;
		}
	}

	&--b {
		background-color: $white;
		color: $purple;
		border: 1px solid $purple;

		&:hover {
			background-color: $purple;
			color: $white;
		}
	}
}