.contact-map {
	max-width: 50rem;
	margin: 0 auto;

	p {
		margin-top: 2rem;
		a { font-weight: bold; }
	}

	.plain-link {
		padding: 0.25rem 0.4rem;
		border: 1px solid $light-black;
		background-color: $white;

		&:hover {
			text-decoration: none;
			background-color: $purple;
			color: $white;
		}
	}

	&--info {
		display: flex;
		max-width: 100%;
		width: 20rem;
		margin-top: 1rem;
		margin-bottom: 2rem;
		justify-content: space-between;
		align-items: center;
	}
}

.contact-information {
	max-width: 50rem;
	margin: 3.5rem auto;

	.plain-link { font-weight: bold; }

	.post-content {
		max-width: 100%;
		margin: 2rem auto;
	}
}