.site-footer {
	max-width: 75rem;
	padding: 1rem;
	margin: 0 auto;

	&__upper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid rgba($light-black, 0.5);
		padding-bottom: 0.5rem;

		@include bp(xs) {
			flex-direction: row;
			justify-content: space-between;
		}

		div span, .plain-link {
			color: $light-black;
			font-size: 0.75rem;
		}

		&--social {
			margin-right: 0;

			a span {
				font-size: 1rem;
				font-family: FontAwesome;
				padding: 0.3rem;
			}

			// social icon colors
			.fb { color: $facebook-blue; }
		}
	}

	&__lower {
		padding-top: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		@include bp(xs) {
			flex-direction: row;
			justify-content: space-between;
		}

		span {
			font-size: 0.675rem;
			color: $light-black;
		}
	}
}