#gform_wrapper_1 {
	max-width: 42rem;
	margin: 0 auto;

	#gform_1 {

		.gfield_label {
			margin-top: 1rem;
		}

		// "State" label - push dropdown down inline with input bottom
		#input_1_3_4_label { margin-bottom: 0.35rem; }

		.ginput_container {
			input {
				background: unset;
				border: unset;
				border-bottom: 1px solid $black;
			}
		}

		.gform_next_button, .gform_previous_button, .gform_button {
			background: unset;
			border: unset;
			-webkit-appearance: unset;
			display: inline-block;
			padding: 0.5rem 1rem;
			font-family: $font-head;
			font-size: 0.875rem;
			font-weight: bold;
			text-align: center;
			background-color: $purple;
			color: $white;
			max-width: 6.5rem;

			&:hover {
				cursor: pointer;
				box-shadow: $button-shadow;
			}
		}
	}

	.hide-this {
		visibility: hidden;
	}

	p { line-height: 1.4; }

	ul, li { list-style-type: none !important; }
}