.home-main-content {
	max-width: 75rem;
	margin: 3.5rem auto 5rem;
}

.featured-event {
	position: relative;
	max-width: 65rem;
	margin: 3rem auto 1.5rem;

	&__event-listing {
		width: 100%;
		margin: 0 auto;
		max-height: 10rem;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding-top: 6rem;
		padding-bottom: 6rem;

		@include bp(xs) {
			padding-top: 9rem;
			padding-bottom: 9rem;
		}

		@include bp(sm) {
			padding-top: 11rem;
			padding-bottom: 11rem;
		}

		p {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding-left: 2.25rem;
			color: $white;
			background-color: rgba($black, 0.3);
			font-size: 0.875rem;
			padding: 0.5rem 0 0.5rem 0.5rem;
			margin-bottom: unset;

			@include bp(sm) {
				font-size: 1rem;
				padding: 1rem 0 1rem 1rem;
			}
		}
	}
}

.cta-grid {
	display: grid;
	max-width: 65rem;
	margin: 0 auto;
	column-gap: 2rem;
	row-gap: 2rem;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));

	&__item {
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 5rem 1rem;

		.bottom-title {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: rgba($black, 0.6);

			h4 {
				margin: 0;
				padding: 1rem 0 1rem 1rem; 
				color: $white;
			}
		}

		&:hover {
			cursor: pointer;
			opacity: 0.9;
		}
	}
}

.above-footer {
	max-width: 25rem;
	margin: 3.5rem auto;
	text-align: center;
}