// home header
.home-header {
	max-width: 100%;
	margin: 4.5rem auto 0;
	@include bp(sm) { margin: 0 auto; }

	.home-header-wrapper {
		position: relative;
		@include bp(sm) { background-color: $black; }

		// mobile to 850px overlay
		.purple-blend {
			display: block;
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			background-color: $purple;
			mix-blend-mode: multiply;
			z-index: 50;
			@include bp(850px) { display: none; }
		}

		h1 {
			position: absolute;
			margin: 0 auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $white;
			text-transform: uppercase;
			padding-left: 1rem;
			font-size: 2rem;
			z-index: 55; // keep above blended background
			@include bp(xs) { font-size: 3.25rem; }
			@include bp(sm) { font-size: 4rem; }

			@include bp(850px) {
				padding-top: unset;
				padding-bottom: unset;
				max-width: 75rem;
				width: 100%;
			}

			@include bp(md) { font-size: 4.25rem; }
			@include bp(1250px) {
				padding-left: unset;
				font-size: 5rem;
			}
		}

		.background-image {
			display: block;
			margin-right: 0;
			margin-left: auto;
		}
	}
}

// default header
.header-wrapper {
	max-width: 100%;
	padding: 1rem;
	margin: 4rem auto 0;
	text-align: center;
	@include bp(sm) { margin: 10.125rem auto 0; }
	.interior-header { margin-top: 2rem; }
}