// global menu styles
.nav-wrapper {
	position: absolute;
	top: 1.5rem;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
	z-index: 100;

	// setup base menu ul styles
	.nav-container nav ul {
		padding: 0;
		list-style: none;
	}
}

// hamburger menu
#menu-toggle { display: none; }
.mobile-nav-top { display: none; }

// laptop+ styles
@include mq($from: 850px) {

	// background colors for logo and nav (white/purple split)
	.logo-side {
		background-color: $white;
		padding: 1rem;
	}

	.nav-side {
		display: inline-block;
		width: 100%;
		height: 11rem;
		background-color: $white;
		padding: 3.8rem 1rem 0;
	}

	// no border or bottom padding on mobile
	.nav-container {
		display: flex;
		max-width: 77rem; // 2rem extra for 1rem padding on each side
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
	}

	.logo {
		margin-right: 2rem;

		img {
			max-width: 16.5rem;
			padding: 1rem;
		}
	}

	// <nav>
	.nav-menu {
		width: 40rem;
		margin-left: auto;

		// ul#primary-menu
		.menu {
			display: flex;
			max-width: 100%;
			justify-content: space-between;
			margin: 0;

			li {
				position: relative;
				padding: 0.75rem;
				z-index: 5;
				background-color: transparent;
				border-bottom: 2px solid transparent;

				&.current-menu-item {
					border-bottom: 2px solid $purple;
				}

				// remove purple underline from tabbed menu, current menu item, and sub menu items
				&:hover {
					transition: 0.2s ease-out;
					border-bottom: 2px solid $purple;
				}
			}

			li { transition: 0.1s ease-out; }

			li a {
				color: $purple;
				font-family: $font-body;
				font-weight: normal;
				font-size: 1.125rem;

				// explicit for   javascript: void(0)
				&:hover { cursor: pointer; }
			}
		} // .menu
	} // .nav-menu

	.home-menu #primary-menu li {
		&.current-menu-item { border-color: $white; }
		&:hover { border-color: $white; }
		a { color: $white; }

	}
}

// mobile to laptop styles
@include mq($until: 849px) {

	.logo { display: none; }

	// used to expand header with menu inside it
	.mobile-nav-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 1rem 1rem 0;
		background-color: $white;

		.mobile-logo { max-width: 8.5rem; }
	}

	// mobile menu toggle X
	#menu-toggle {
		display: block;

		&:hover { cursor: pointer; }

		.x-bar {
			display: block;
			width: 1.6rem;
			height: 3px;
			margin-bottom: 6px;
			background-color: $purple;
			transition: 0.2s ease-out;
			border-radius: 1px;
		}

		.x-bar-active {
			position: relative;
			transition: 0.2s ease-in;
			margin-bottom: 0;
			height: 4px;

			&:nth-child(3n+1) {
				top: 0;
				transform: rotate(45deg);
			}

			&:nth-child(3n+2) {
				opacity: 0;
			}

			&:nth-child(3n+3) {
				bottom: 8px;
				transform: rotate(-45deg);
				margin-bottom: 0;
			}
		}
	}

	#primary-menu {
		display: none;
		position: relative;
		width: 100%;
		top: 0;
		margin: 0;
		padding-top: 1.5rem;
		text-align: center;
		overflow: hidden;
		background-color: $white;

		li {
			margin-bottom: 1.5rem;
		}

		a {
			font-family: $font-body;
			font-weight: bold;
			color: $purple;
			font-size: 1rem;
			letter-spacing: 3px;
		}
	}

	.sub-menu { display: none; }
}