.global-site-wrapper {
	max-width: 100%;
	margin: 0 auto;
	padding: 1rem;
}

.default-container {
	max-width: 75rem;
	margin: 1rem auto;
}

.default-container-short {
	max-width: 61.25rem;
	margin: 2rem auto;

	// bold links for in-text links
	a:not(.plain-link) {
		color: $light-black;
		font-size: 0.875rem;
		font-weight: bold;
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}
}

// base link styles
.plain-link {
	color: $light-black;
	font-size: 0.875rem; // 14px
	text-decoration: none;
	&:hover { text-decoration: underline;}
}

a {
	text-decoration: none;
	transition: 0.2s ease-out;

	&:hover {
		transition: 0.2s ease-out;
		text-decoration: none;
	}
}

.add-white-bg { background-color: $white; }

// for registration page content area
.page-id-57 .default-container-short {
	max-width: 42rem;
}